

footer{
    background: white;
    display: flex;
     flex-direction: column;
    width: 100vw;
    height: 100%;
    
}

.footer__info{
    margin-top: 60vh;
}

.footer__contact  {
    display: flex;
    flex-direction: column;
    width: 40vw;
    color: white;
    text-justify:justify;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 3vw;
} 


.icons p{
    color: white;
    justify-content: space-evenly;
    margin-top: 4vh;
    align-items: baseline;
    justify-self: self-start;
    
}


ul {
    list-style: none;
    text-align:left;
    color: white;
    justify-content: space-evenly;
    margin-top: 4vh;
}
    li{
        display: flex;
        justify-content:left;
       
        align-items: baseline;
        margin: 15px;
        
    }
    li img{
        margin-right: 10px;
    }
.footer__card{
    background:rgb(255, 255, 255);
    width: 40vw;
    height: 30vh;
    text-align: center;
  border-radius: 10px;
    box-shadow: -1px -1px  10px    rgb(148, 148, 148);
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   align-self: center;
   align-content: center;
   background-clip: padding-box;
   position:absolute;
   margin-top: 115px;
   



}
.footer__button button{
    width: 20vw;
    height: 10vh;
    border-radius: 50px;
    border-color: none;
    border-style: none;
    background-color:hsl(322, 100%, 66%);
    color: white;
    margin-top: 2vh;
    text-align: center;
    font-weight: bolder;
}  
    


.footer__info{
    background:hsl(192, 100%, 9%);
    width: 100vw;
    height:60vh ;
    position: bottom;
   margin-top: 40vh;
   padding-top: 20vh;
   padding: 10vh;
    display: flex;
flex-direction: row;
justify-items: center;
}
.footer__text{
    font-weight: bolder;
    margin: 0;
  
}




.footer__menu{
    display: flex;
    
width: 60vw;
justify-content:start;
align-items: center;


} 

.footer__menu
button{color: white;
    padding-bottom: 3vh;
    padding-left:6vw
}

.footer__socialmedia{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-top: 10vh; 
  }

a .icons  {
width: 3.5vw;
padding: 2%;
border-radius: 50px;
border-color: rgb(255, 0, 200);
border-style:solid;
margin-left: 2vw;
}
.footer__socialmedia p{
    color: white;
    font-size:smaller;
    margin-top: 15vh;
    align-self:center
}
.footer__menu button.link { background:none;border:none; }
.footer__menu button.link { background:none;border:none; }

/* media query */
@media (max-width:600px){
    

footer{
        width: 100vw;
        height: 100vh;
        background: white;
       
}
.footer__card{
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text h2{
font-size: 4vw;

position: relative;
}
.footer__button button{
    width: 60vw;
    height: 12vh;
    font-size: 3.5vw;
    position: relative;

}
.footer__contact{
    margin-top: 40px;
    margin-left: 10px;
    width: 90vw;
}

.footer__contact img{
padding-right:20px
}


.footer__info{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction:column;
    
}


.footer__menu {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size: 1rem;
   
}
a .icons  {
    width: 12vw;
    padding: 3%;
    border-radius: 50px;
    border-style:solid;
    margin-left: 8vw;
    }
.footer__socialmedia{
        width: 80vw;
       padding-left: 8vw;
    }


.footer__socialmedia p{
        color: white;
        font-size: 1rem;
        margin-top: 15vh;
    
}

}