@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100vw;

}
.hover-opacity:hover{
    opacity: .8;
}
.spaces{ 
    width: 90%;
    margin: auto;
}

.container{
    width: 100%;
}
h1, h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/* generale style */

.header {
    background-image: url(imgs/bg-hero-desktop.svg);
    background-color:hsl(193, 100%, 96%);
    /* height: 100px; */
    background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;

}

.header__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    margin-top: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
}

.header__button{
    background-color: #FFFFFF;
    width: 12.5rem;
    height: 3.5rem;
    border-radius: 68.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.header__buttom{
    display: flex;
    justify-content: space-between;
    margin-top: 3.8rem;
    /* flex-wrap: nowrap; */
}

.header__text{
    width: 40%;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__button--pink{
    background-color: hsl(322, 100%, 66%);
    width: 17.5rem;
    height: 3.5rem;
    color: aliceblue;
}

.header__image img{
        width: 42.5rem;
         height: 30rem;
}


/* media query */
@media (max-width:700px){
    body{
        font-family: 'Poppins', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        width: 100%;

    }
    
    .header{
        background-image: url(imgs/bg-hero-mobile.svg);
        background-color:hsl(193, 100%, 96%);
        /* height: 100px; */
        background-repeat: no-repeat;
        background-position:top;
        background-attachment: fixed
    }

    .header__buttom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.8rem;
        /* flex-wrap: nowrap; */
    }

    .header__text{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__image{
        width: 95%;
        margin:5% auto;
    }

    .header__image >img{
        width: 100%;
        margin: 0;
    }

    .main__card--spaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 2.5rem;
        height: auto;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        border-radius: 1rem;
    }

    .main__text{
        width: 90%;
        text-align: center;
    }
}
